/*
Items Name : Dentare
Author : Ngetemplates
-------------------------------- */
/* ------------------------------
  Import Google Web Font
---------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap");
/* ------------------------------
  General
---------------------------------*/
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
  color: #686868;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  color: #2a2a2a;
}

h1 {
  font-size: 54px;
  line-height: 58px;
  font-weight: 600;
  position: relative;
}

h2 {
  font-size: 38px;
  font-weight: 600;
  line-height: 44px;
  margin-bottom: 20px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
}

h6 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #464646;
}

a:hover {
  color: #00b218;
}

p {
  margin: 5px 0 15px;
  line-height: 28px;
  letter-spacing: 0.5px;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

img {
  width: 100%;
}

span.span-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 7px;
  display: block;
  color: #00b218;
  display: flex;
  justify-content: center;
}

span.span-title-left {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 7px;
  display: block;
  color: #00b218;
}

/* ------------------------------
  preloader
---------------------------------*/
.spinner5 .cube1,
.spinner5 .cube2 {
  background-color: #00b218;
}

/* ------------------------------
  button
---------------------------------*/
.button {
  padding: 12px 20px;
  background: #00b218;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 1px;
  border: 0;
  transition: 0.2s;
  font-weight: 600;
  border: 1px solid transparent;
}

.button:hover {
  background: #2a2a2a;
  color: #ffffff;
  border-color: transparent;
}

/* ------------------------------
  navbar
---------------------------------*/
.navbar {
  top: 0;
  background: #00b218;
  padding: 25px 0;
  position: fixed;
  width: 100%;
  z-index: 99;
  text-align: center;
}
.navbar .navbar-brand {
  text-align: left;
  width: 25%;
}
.navbar .navbar-brand img {
  height: 40px;
  width: auto;
}
.navbar .navbar-toggler {
  padding: 0;
}
.navbar .navbar-toggler i {
  font-size: 32px;
  color: #ffffff;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-collapse {
  position: relative;
  width: 50%;
  text-align: center;
  left: -10px;
}
.navbar .navbar-nav {
  margin-right: auto;
  margin-left: auto;
}
.navbar .navbar-nav li {
  padding: 0 4px;
}
.navbar .navbar-nav li a {
  color: #ffffff;
  font-weight: 400;
}
.navbar .navbar-nav li a:hover {
  color: #eee;
}
.navbar .button-navbar {
  width: 25%;
  float: right;
  text-align: right;
}
.navbar .button-navbar li {
  display: inline-block;
  margin-left: 15px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.navbar .button-navbar li i {
  color: #00b218;
  font-size: 20px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  line-height: 30px;
  border: 7px solid #eee;
  margin-right: 10px;
}

.navbar-fixed {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0);
}

/* ------------------------------
  intro
---------------------------------*/
.intro {
  color: #eee;
  background: #00b218;
  padding: 200px 0 160px;
  text-align: center;
}
.intro .span-title {
  color: #fff;
}
.intro h1 {
  color: #fff;
  padding: 0 130px;
  z-index: 1;
}
.intro .content-right img {
  position: relative;
  top: -22px;
  left: -50px;
}
.intro .content-left img {
  position: relative;
  right: -50px;
  z-index: 2;
  top: 40px;
}
.intro img {
  border-radius: 10px;
}

/* ------------------------------
 	features
---------------------------------*/
.features {
  padding-top: 120px;
}
.features .container {
  padding-left: 140px;
  padding-right: 140px;
}
.features h2 {
  margin-bottom: 40px;
}
.features .content {
  position: relative;
}
.features .content .icon {
  float: left;
}
.features .content .icon i {
  height: 50px;
  width: 50px;
  background: #00b218;
  text-align: center;
  color: #fff;
  line-height: 48px;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 24px;
}
.features .content .text {
  overflow: hidden;
}
.features .content .text h6 {
  margin-top: 5px;
}

/* ------------------------------
  about
---------------------------------*/
.about {
  padding-top: 130px;
}
.about .content-left {
  background: url(../img/about1.png) center no-repeat;
  background-size: cover;
  text-align: right;
  border-radius: 10px;
}
.about .content-left img {
  margin-top: 220px;
  width: 250px;
  margin-right: -50px;
  margin-bottom: -138px;
  border-radius: 10px;
}
.about .content-left .open {
  background: #fff;
  z-index: 1;
  position: relative;
  text-align: center;
  width: 200px;
  border-radius: 5px;
  padding: 27px;
  bottom: -66px;
  box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
  margin-left: 45%;
  transform: translate(-50%);
  padding-top: 0;
}
.about .content-left .open i {
  height: 40px;
  width: 40px;
  line-height: 38px;
  background: #00b218;
  color: #fff;
  font-size: 19px;
  border-radius: 50%;
  position: relative;
  top: -19px;
}
.about .content {
  padding-left: 50px;
}
.about .content-icon {
  position: relative;
}
.about .content-icon .icon {
  float: left;
}
.about .content-icon .icon i {
  height: 50px;
  width: 50px;
  background: #00b218;
  text-align: center;
  color: #fff;
  line-height: 48px;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 24px;
}
.about .content-icon .text {
  overflow: hidden;
}
.about .row .row {
  margin-top: 50px;
}

/* ------------------------------
  services
---------------------------------*/
.services {
  padding-top: 190px;
  padding-bottom: 140px;
}
.services .content {
  box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
  padding: 30px;
  text-align: center;
  border-radius: 10px;
}
.services .content p {
  line-height: 24px;
}
.services .content img {
  height: 65px;
  width: auto;
  margin-bottom: 25px;
}
.services .content h5 {
  margin-bottom: 25px;
}

/* ------------------------------
  testimonial
---------------------------------*/
.testimonial {
  padding-top: 120px;
  padding-bottom: 100px;
  background: #f5f8f9;
}
.testimonial .content .entry2 {
  margin-left: 30px;
}
.testimonial .content .entry {
  border-radius: 10px;
  background: #fff;
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 30px;
  box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
}
.testimonial .content .entry .image {
  float: left;
  margin-right: 20px;
}
.testimonial .content .entry .image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.testimonial .content .entry .text {
  overflow: hidden;
}
.testimonial .content .entry .text p {
  line-height: 26px;
}

/* ------------------------------
  contact
---------------------------------*/
.contact {
  padding-top: 120px;
  padding-bottom: 30px;
  font-size: 16px;
  font-weight: 500;
  clear: both;
}
.contact iframe {
  width: 100%;
  box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 40px;
}
.contact h5 {
  margin-bottom: 15px;
  font-weight: 500;
}
.contact .content {
  position: relative;
  background: #f5f8f9;
  padding: 30px;
  border-radius: 10px;
}
.contact .content .icon {
  float: left;
}
.contact .content .icon i {
  background: #00b218;
  font-size: 25px;
  color: #fff;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  margin-right: 22px;
  border-radius: 10px;
}
.contact .content .text {
  overflow: hidden;
}
.contact .content .text span {
  position: relative;
  top: -10px;
}
.contact .content-clock {
  background: #00b218;
}
.contact .content-clock .icon i {
  color: #00b218;
  background: #fff;
}
.contact .content-clock h5 {
  color: #fff;
}
.contact .content-clock span {
  color: #eee;
}

/* ------------------------------
  footer
---------------------------------*/
footer {
  text-align: right;
}
footer .row {
  padding: 10px 0 30px 0;
}

footer ul {
  text-align: left;
}

footer ul li {
  display: inline-block;
}

footer ul li i {
  font-size: 20px;
  margin-right: 10px;
}

footer ul li i:hover {
  color: #00b218;
}

/* ------------------------------
  responsive
---------------------------------*/
@media (max-width: 991px) {
  .navbar .button-navbar {
    display: none;
  }

  .intro h1 {
    padding: 0;
  }
  .intro .content-left img {
    right: -30px;
  }
  .intro .content-right img {
    left: -30px;
  }

  .features .container {
    padding: 0;
  }

  .about .col-md-5 {
    flex: 100%;
  }
  .about .col-md-7 {
    flex: 100%;
  }
  .about h2 {
    margin-top: 30px;
  }
  .about .content-left {
    margin-right: 50px;
  }
  .about .content-left .open {
    bottom: -50px;
  }
  .about .content {
    margin-top: 100px;
    padding-left: 0;
  }

  .services {
    padding-top: 120px;
  }
  .services .col-md-4 {
    flex: 50%;
  }

  .contact .col-md-3 {
    flex: 50%;
  }
  .contact .col-md-6 {
    flex: 50%;
  }
}
@media (max-width: 767px) {
  .intro {
    padding-bottom: 170px;
  }

  .intro .content-left img {
    right: 0;
    top: 25px;
  }

  .intro .content-right img {
    left: 0;
    top: 50px;
  }

  .features .content {
    margin-bottom: 25px;
  }

  .features .container {
    padding: 0 30px;
  }
}
@media (max-width: 575px) {
  .container {
    padding: 0 25px;
  }

  .navbar .navbar-brand img {
    height: 32px;
  }

  h1 {
    font-size: 48px;
    line-height: 53px;
  }

  .about .col {
    flex: 100%;
  }

  .features .content {
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
    padding: 25px;
  }

  .contact .col-md-3 {
    width: 100%;
  }
  .contact .col-md-4 {
    display: none;
  }
  .contact .col-md-5 {
    display: none;
  }

  .testimonial .content .entry2 {
    margin-left: 0;
  }

  h2 {
    font-size: 36px;
    line-height: 45px;
  }

  footer {
    text-align: center;
  }
  footer ul {
    text-align: center;
    margin-bottom: 12px;
  }
}
